<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <title>Main page - HTML Starter Project</title>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Core stylesheets -->

{% load staticfiles %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/pixeladmin.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/widgets.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Theme -->
  <link href="{% static 'css/themes/clean.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Pace.js -->
  <script src="{% static 'pace/pace.min.js' %}"></script>
</head>
<body>
  <!-- Nav -->
  <nav class="px-nav px-nav-left">
    <button type="button" class="px-nav-toggle" data-toggle="px-nav">
      <span class="px-nav-toggle-arrow"></span>
      <span class="navbar-toggle-icon"></span>
      <span class="px-nav-toggle-label font-size-11">HIDE MENU</span>
    </button>

    <ul class="px-nav-content">
      <li class="px-nav-item active">
        <a href="/products/"><i class="px-nav-icon ion-home"></i><span class="px-nav-label">Age Statistics</span></a>
      </li>
      <li class="px-nav-item">
        <a href="/products-v1/"><i class="px-nav-icon ion-star"></i><span class="px-nav-label">Gender Statistics</span></a>
      </li>
      <li class="px-nav-item">
        <a href="/products-v2/"><i class="px-nav-icon ion-star"></i><span class="px-nav-label">User Statistics</span></a>
      </li>
    </ul>
  </nav>

  <!-- Navbar -->
  <nav class="navbar px-navbar">
      <div class="navbar-header">
      <a class="navbar-brand" href="#">Kinder Food Finder</a>
      </div>

    <div class="collapse navbar-collapse" id="px-navbar-collapse">
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">First item</a></li>
            <li><a href="#">Second item</a></li>
            <li class="divider"></li>
            <li><a href="#">Third item</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Content -->
  <div class="px-content">
      <div class="page-header">
      <h1><span class="text-muted font-weight-light"></span>Age Statistics</h1>
      </div>
{#      {% load staticfiles %}#}
{#      <img src="{% static 'line-chart.png' %}"  alt="data" />#}
      <button class="age_btn" id="age1_button">Under 18 years</button>
      <button class="age_btn" id="age2_button">19-29 years</button>
      <button class="age_btn" id="age3_button">30-39 years</button>
      <button class="age_btn" id="age4_button">40-49 years</button>
      <button class="age_btn" id="age5_button">50-59 years</button>
      <button class="age_btn" id="age6_button">60+ years</button>
      <div class="page1 page" id="age_chart"><h1 class="h2" id="test"></h1></div>
  </div>


  <!-- Footer -->
  <footer class="px-footer px-footer-bottom">
<a href="/products/data"><i class="px-nav-icon ion-home"></i><span class="px-nav-label">Data page</span></a>
  </footer>

  <!-- ==============================================================================
  |
  |  SCRIPTS
  |
  =============================================================================== -->

  <!-- Load jQuery -->
  {% load staticfiles %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Core scripts -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/pixeladmin.min.js' %}"></script>

  <!-- Your scripts -->
  <script src="{% static 'js/app.js' %}"></script>
  <script>
    $(document).ready(function() {
        $(".age_btn").on("click", function() {
            $(".page").css({"display": "none"});
            $("#age_chart").css({"display": "block"});
        });
    });
</script>
<script type="text/javascript">
google.charts.load("current", {packages:['corechart']});
google.charts.setOnLoadCallback(drawChart);
</script>
  <script>
$(document).ready(function () {
  var age_result1 = {{ data_1|safe }};
  var age_result2 = {{ data_2|safe }};
  var age_result3 = {{ data_3|safe }};
  var age_result4 = {{ data_4|safe }};
  var age_result5 = {{ data_5|safe }};
  var age_result6 = {{ data_6|safe }};
  $("#age1_button").click(function (event) {
      event.preventDefault();
      var data = new Array();
      data[0] = ['Product name','Number of Product Searched'];
      for(i=0;i<age_result1.length;i++){
        	  data[i+1] = [age_result1[i].brand_name, parseInt(age_result1[i].total_num)];
        	  {#data[i+1] = age_result2[i].total_num;#}
      }
      draw_chart(data);
  });
  $("#age2_button").click(function (event) {
      event.preventDefault();
      var data = new Array();
      data[0] = ['Product name','Number of Product Searched'];
      for(i=0;i<age_result2.length;i++){
        	  data[i+1] = [age_result2[i].brand_name, parseInt(age_result2[i].total_num)];
        	  {#data[i+1] = age_result2[i].total_num;#}
      }
      draw_chart(data);
  });
  $("#age3_button").click(function (event) {
      event.preventDefault();
      var data = new Array();
      data[0] = ['Product name','Number of Product Searched'];
      for(i=0;i<age_result3.length;i++){
        	  data[i+1] = [age_result3[i].brand_name, parseInt(age_result3[i].total_num)];
        	  {#data[i+1] = age_result2[i].total_num;#}
      }
      draw_chart(data);

  });
  $("#age4_button").click(function (event) {
      event.preventDefault();
      var data = new Array();
      data[0] = ['Product name','Number of Product Searched'];
      for(i=0;i<age_result4.length;i++){
        	  data[i+1] = [age_result4[i].brand_name, parseInt(age_result4[i].total_num)];
        	  {#data[i+1] = age_result2[i].total_num;#}
      }
      draw_chart(data);
  });
  $("#age5_button").click(function (event) {
      event.preventDefault();
      var data = new Array();
      data[0] = ['Product name','Number of Product Searched'];
      for(i=0;i<age_result5.length;i++){
        	  data[i+1] = [age_result5[i].brand_name, parseInt(age_result5[i].total_num)];
        	  {#data[i+1] = age_result2[i].total_num;#}
      }
      draw_chart(data);

  });
    $("#age6_button").click(function (event) {
      event.preventDefault();
      var data = new Array();
      data[0] = ['Product name','Number of Product Searched'];
      for(i=0;i<age_result6.length;i++){
        	  data[i+1] = [age_result6[i].brand_name, parseInt(age_result6[i].total_num)];
        	  {#data[i+1] = age_result2[i].total_num;#}
      }
      draw_chart(data);

  });
});

function draw_chart(data) {
    var real_data = google.visualization.arrayToDataTable(data);
    var options = {
        title: 'TOP 5 Searched Commomly Products',
        legend: { position: 'bottom'},
        width:1100,
        height:600
    };
    var chart = new google.visualization.ColumnChart(document.getElementById("age_chart"));

    chart.draw(real_data, options);
}
  </script>
</body>
</html>

